<div id="BlockObjects">
    <div class="SingleObject">
        <div class="col-sm-12 row">
            <span class="col-sm-4">Код объекта: </span>
            <input type="text" class="form-control codeBlock col-sm-6">
        </div>

        <div class="col-sm-12 row">
            <span class="col-sm-4">значение объекта: </span>
            <input type="text" class="form-control descriptionBlock col-sm-6">
        </div>
    </div>
</div>

<div class="col-sm-12 row">
    <button class="col-sm-3 btn btn-default" onclick="AddObject()">Добавить</button>
    <button class="col-sm-3 btn btn-default" onclick="SaveAllObjects()">Сохранить</button>
</div>