<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/Content/Site.css" />
    <link rel="stylesheet" href="~/Content/bootstrap.css" />

    <script src="~/js/modernizr-2.6.2.js"></script>
</head>
<body>
    <!--меню-->
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div>
                <span class="text-center"><font color="white" size="14"><i>Управление объектами</i></font></span>
            </div>
        </div>
    </nav>
    <!--основной контент-->
    <div class="container body-content">
        <script src="~/js/jquery-1.10.2.min.js"></script>
        <script src="~/js/bootstrap.min.js"></script>
        <script src="~/js/JQScripts.js"></script>
        @RenderBody()
        <hr />
        <footer>
            <p>© 2015 - MobileStore</p>
        </footer>
    </div>

</body>
</html>